.App {
  text-align: center;
  width: 100%;
}

.App-header {
  background-color: #4d81b7;
  height: 64px;
  color: white;
  text-align: left;
  font: 28px sans-serif;
  padding: 10px 0 10px 0;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: "Dosis", sans-serif;
}
/* blue bar 2.5rem, header font 1rem, body font 1rem, button font 0.85rem */
.App-link {
  color: #61dafb;
}
/* 
.shopping-list-container {
  background-color: white;
  margin-top: 10%;
  font-family: "Nunito", sans-serif;
  display: block;
  width: 40%;
  margin: auto;
  min-height: 10vh;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
}

.shopping-list-empty {
  background-color: white;
  color: #87898c;
  font-family: "Nunito", sans-serif;
  font-family: "Nunito", sans-serif;
  display: block;
  width: 40%;
  margin: auto;
  min-height: 10vh;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  margin-top: 10%;
}
*/
.action-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* padding: 8px 15px; */
  /* gap: 10px; */

  /* width: 151px; */
  height: 36px;
  /* Blue 3 (Button Default) */

  background: #1871e8;
  border-radius: 4px;

  color: white;
  margin: 10px auto;
}
