.App {
  text-align: center;
  width: 100%;
}

.App-header {
  background-color: #4d81b7;
  height: 64px;
  color: white;
  text-align: left;
  font: 28px sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: "Dosis", sans-serif;
}
/* blue bar 2.5rem, header font 1rem, body font 1rem, button font 0.85rem */
.App-link {
  color: #61dafb;
}

.action-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* padding: 8px 15px; */
  /* gap: 10px; */

  /* width: 151px; */
  height: 36px;
  /* Blue 3 (Button Default) */

  background: #1871e8;
  border-radius: 4px;

  color: white;
  margin: 10px auto;
}
